html {
  image-rendering: pixelated;
}

body {
  background-color: hotpink;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-holder {
  position: relative;
  display: inline-block;
}

#video-player {
  width: 100vw;
  height: 100vh;
  /* background-color: #95285C; */
  background-color: black;
}

#player-holder.active #video-info {
  opacity: 1;
}

#video-info {
  position: absolute;
  bottom: 0;
  height: calc(100% - max(20px, 6vw) - 4px);
  width: calc(100% - max(20px, 6vw));
  z-index: 10;
  color: white;
  top: 0;
  padding: max(10px, 3vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black);
  opacity: 0;
  transition: .5s opacity;
}

#player-holder.active #video-info.paused {
  cursor: url("../static/img/play-cursor.png"), pointer;
}

#player-holder.active #video-info {
  cursor: url("../static/img/pause-cursor.png"), pointer;
}

#video-info h1,
#video-info p {
  margin: 3px 0;
  cursor: pointer;
}

#video-info {
  font-family: 'Kabel', "Anton", "Rubik Scribble", system-ui;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px black;
  color: white;
  font-size: max(1em, min(2.5em, 3vw));
  line-height: calc(max(1em, min(2.5em, 3vw)) + 5px);
}

#video-info h1 {
  font-size: 1em;
}

#logo-uptop {
  height: 50px;
  margin-bottom: auto;
  position: relative;
}

#logo-uptop img {
  height: 100%;
  filter: drop-shadow(0 0 0.5px black);
}

.active-logo-bar {
  height: 100%;
  position: absolute;
  margin-left: 0;
  transform-origin: 32px 24px;
  margin-left: -21px;
  transition: 1s all;
}

#logo-uptop:hover .active-logo-bar {
  transform: scale(-1, 1) rotate(180deg);
  margin-left: 0;
}

#button-holder button {
  text-transform: uppercase;
  background-color: aqua;
  box-shadow: 0 0 0 2px black;
  border: 2px outset aqua;
  padding: 5px 10px;
}

#button-holder button:active {
  border: 2px inset aqua;
}

#landing-drop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  /* animation: b .2s infinite alternate; */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-drop.checker {
  background-size: 50px 50px; /* Size of each checker square */
  background-color: white;
  background-image: 
      linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000),
      linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000);
  background-position: 0 0, 25px 25px; /* Offset the second pattern */
  animation: moveBackground 5s linear infinite; /* Animate background */
}


@keyframes moveBackground {
  0% {
      background-position: 0 0, 25px 25px;
  }
  100% {
      background-position: 100px 100px, 125px 125px;
  }
}

#landing-drop.hidden {
  animation: 1s hide forwards;
}

#noise-holder {
  display: none;
}

#landing-drop.noise #noise-holder {
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  background: repeating-linear-gradient(#111, #111 40%, lime 40%, rgb(242, 0, 255) 60%, #fff 60%, #fff);
  background-size: 5px 5px;
  background-position: -50px -50px;
  filter: url(#noise);
}

#logo-main {
  z-index: 200;
}

svg {
  position: absolute;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

#logo-main {
  height: 150px;
  position: relative;
  margin-left: -80px;
  transition: all 1s;
  cursor: pointer;
}

#logo-main:hover {
  margin-left: -200px;
}

#logo-main:hover .slash {
  transform: rotate(180deg) scale(1, -1);
  margin-left: 5px;
}

#logo-main img {
  height: 100%;
  filter: drop-shadow(0 0 0.5px black);
}

#logo-main .slash {
  position: absolute;
  margin-left: -56px;
  transition: 1s all;
}

@keyframes b {
  100% {background-position: 50% 0, 60% 50%}
}