<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Video Stream</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fonts/stylesheet.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Scribble&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/index.js')}}"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div id="landing-drop">
    <!-- TODO: Change aria role -->
    <div id="logo-main">
      <img src="../static/img/mv-body.svg" />
      <img class="slash" src="../static/img/mv-anim.svg" />
    </div>
    <div id="noise-holder">
    </div>
    <svg>
      <filter id="noise">
        <feTurbulence id="turbulence">
          <animate attributeName="baseFrequency" dur="0.5s" values="0.9 0.9; 0.8 0.8; 0.9 0.9;" repeatCount="indefinite"></animate>
        </feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="60"></feDisplacementMap>
      </filter>
    </svg>
  </div>
    <main>
      <div id="player-holder">
        <video id="video-player">
          <source id="video-source" src="/video_feed" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div id="video-info">
          <img src="../static/img/fullscreen.svg" id="fullscreen" alt="fullscreen icon" />
          <div id="logo-uptop">
            <img src="../static/img/mv-body.svg">
            <img class="active-logo-bar" src="../static/img/mv-anim.svg">
          </div>
          <div class="meta"></div>
        </div>
      </div>
    </main>
</body>
</html>
